<section class="uk-card-body js-accordion-section filter-block">
    <h4 class="uk-accordion-title uk-margin-remove">
        {{ filter.title | trans }}
    </h4>
    <div class="uk-accordion-content">
        <ul class="uk-list tm-scrollbox">
            {% for value in filter.values %}
                <li>
                    <input type="checkbox"
                           class="tm-checkbox"
                           name="filter[{{ filter.name }}][]"
                           value="{{ value }}"
                           id="filter_{{ filter.name }}{{ loop.index }}">
                    <label for="filter_{{ filter.name }}{{ loop.index }}">
                        <span>
                            {{ value }}
                            <!--span class="uk-text-meta uk-text-xsmall">177</span-->
                        </span>
                    </label>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
