<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <base href="{{ app.request.baseUrl }}">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

    {% block stylesheets -%}
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500">
        <link rel="stylesheet" href="/assets/uikit-ecommerce/styles/style.css">
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
    {% endblock -%}

    <!-- twv-script -->
    {% if is_granted('ROLE_ADMIN') %}
        <link href="{{ asset('bundles/twigvisual/css/twv-icomoon/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/twigvisual/dist/twigvisual_styles.min.css') }}" rel="stylesheet">
        <script src="{{ asset('bundles/twigvisual/dist/twigvisual.min.js') }}"></script>
        <script>
            const twigVisual = new TwigVisual({{ twigVisualOptions(_self, _context) }});
        </script>
    {% endif %}
    <!-- /twv-script -->

</head>
<body>

{% include 'header.html.twig' %}

<main>
    {% block body %}{% endblock %}
</main>

{% block footer %}
    {% include 'footer.html.twig' %}
    {% include 'nav/offcanvas.html.twig' %}

    <div id="cart-offcanvas" uk-offcanvas="overlay: true; flip: true">
        <aside class="uk-offcanvas-bar uk-padding-remove">
            <div class="uk-card uk-card-default uk-card-small uk-height-1-1 uk-flex uk-flex-column tm-shadow-remove">
                <header class="uk-card-header uk-flex uk-flex-middle">
                    <div class="uk-grid-small uk-flex-1" uk-grid>
                        <div class="uk-width-expand">
                            <div class="uk-h3">Cart</div>
                        </div>
                        <button class="uk-offcanvas-close" type="button" uk-close></button>
                    </div>
                </header>
                <div class="uk-card-body uk-overflow-auto">
                    <ul class="uk-list uk-list-divider">
                        <li class="uk-visible-toggle">
                            <arttcle>
                                <div class="uk-grid-small" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="tm-ratio tm-ratio-4-3"><a class="tm-media-box" href="product.html">
                                                <figure class="tm-media-box-wrap"><img src="/assets/uikit-ecommerce/images/products/1/1-small.jpg" alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)">
                                                </figure></a></div>
                                    </div>
                                    <div class="uk-width-expand">
                                        <div class="uk-text-meta uk-text-xsmall">Laptop</div><a class="uk-link-heading uk-text-small" href="product.html">Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)</a>
                                        <div class="uk-margin-xsmall uk-grid-small uk-flex-middle" uk-grid>
                                            <div class="uk-text-bolder uk-text-small">$1599.00</div>
                                            <div class="uk-text-meta uk-text-xsmall">1 × $1599.00</div>
                                        </div>
                                    </div>
                                    <div><a class="uk-icon-link uk-text-danger uk-invisible-hover" href="#" uk-icon="icon: close; ratio: .75" uk-tooltip="Remove"></a></div>
                                </div>
                            </arttcle>
                        </li>
                        <li class="uk-visible-toggle">
                            <arttcle>
                                <div class="uk-grid-small" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="tm-ratio tm-ratio-4-3"><a class="tm-media-box" href="product.html">
                                                <figure class="tm-media-box-wrap"><img src="/assets/uikit-ecommerce/images/products/2/2-small.jpg" alt="Apple MacBook 12&quot; MNYN2LL/A 512GB (Rose Gold)">
                                                </figure></a></div>
                                    </div>
                                    <div class="uk-width-expand">
                                        <div class="uk-text-meta uk-text-xsmall">Laptop</div><a class="uk-link-heading uk-text-small" href="product.html">Apple MacBook 12&quot; MNYN2LL/A 512GB (Rose Gold)</a>
                                        <div class="uk-margin-xsmall uk-grid-small uk-flex-middle" uk-grid>
                                            <div class="uk-text-bolder uk-text-small">$1549.00</div>
                                            <div class="uk-text-meta uk-text-xsmall">1 × $1549.00</div>
                                        </div>
                                    </div>
                                    <div><a class="uk-icon-link uk-text-danger uk-invisible-hover" href="#" uk-icon="icon: close; ratio: .75" uk-tooltip="Remove"></a></div>
                                </div>
                            </arttcle>
                        </li>
                    </ul>
                </div>
                <footer class="uk-card-footer">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-expand uk-text-muted uk-h4">Subtotal</div>
                        <div class="uk-h4 uk-text-bolder">$3148.00</div>
                    </div>
                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-margin-small" uk-grid>
                        <div><a class="uk-button uk-button-default uk-margin-small uk-width-1-1" href="cart.html">view cart</a></div>
                        <div><a class="uk-button uk-button-primary uk-margin-small uk-width-1-1" href="checkout.html">checkout</a></div>
                    </div>
                </footer>
            </div>
        </aside>
    </div>
{% endblock %}

{% block javascripts -%}
    <!-- JAVASCRIPT -->
    <script src="/assets/uikit-ecommerce/scripts/uikit.js"></script>
    <script src="/assets/uikit-ecommerce/scripts/uikit-icons.js"></script>
    <script src="/assets/uikit-ecommerce/scripts/script.js"></script>
{% endblock -%}

</body>
</html>
