<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <base href="{{ app.request.baseUrl }}">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ currentPage.title | default('') }} - {{ app_name }}">
    <meta property="og:site_name" content="{{ app_name }}">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ app_logo_image_url }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ currentPage.title | default('') }} - {{ app_name }}">
    <meta name="twitter:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ app_logo_image_url }}">
    <meta name="twitter:site" content="{{ app_name }}">

    {% block stylesheets -%}
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500">
        <link rel="stylesheet" href="{{ asset('node_modules/nouislider/dist/nouislider.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/uikit-ecommerce/styles/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/uikit-ecommerce/styles/custom.css') }}">
    {% endblock -%}

    <!-- twv-script -->
    {% if is_granted('ROLE_ADMIN') %}
        <link href="{{ asset('bundles/twigvisual/css/twv-icomoon/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/twigvisual/dist/twigvisual_styles.min.css') }}" rel="stylesheet">
        <script src="{{ asset('bundles/twigvisual/dist/twigvisual.min.js') }}"></script>
        <script>
            const twigVisual = new TwigVisual({{ twigVisualOptions(_self, _context) }});
        </script>
    {% endif %}
    <!-- /twv-script -->

</head>
<body>

{% include 'header.html.twig' %}

<main>
    {% block body %}{% endblock %}
</main>

{% block footer %}
    {% include 'footer.html.twig' %}
    {% include 'nav/offcanvas.html.twig' %}
{% endblock %}

{% block javascripts -%}
    <script src="{{ asset('assets/uikit-ecommerce/scripts/uikit.js') }}"></script>
    <script src="{{ asset('assets/uikit-ecommerce/scripts/uikit-icons.js') }}"></script>
    <script src="{{ asset('assets/uikit-ecommerce/scripts/script.js') }}"></script>
    <script src="{{ asset('js/shopkeeper.js') }}"></script>
    <script src="{{ asset('js/shopping_cart.js') }}"></script>
{% endblock -%}

</body>
</html>
