{% extends 'base.html.twig' %}

{% block body %}
    <section class="uk-section uk-section-small">
        <div class="uk-container">
            <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                <div class="uk-text-center">

                    {% include 'nav/breadcrumbs.html.twig' %}

                    <h1 class="uk-margin-small-top uk-margin-remove-bottom">{{ fieldByLocale(currentPage, 'title') }}</h1>
                </div>
                <div>

                    {% if items | length > 0 %}
                    <div class="uk-grid-medium" uk-grid>
                        <section class="uk-width-1-1 uk-width-expand@m">
                            <div class="uk-grid-medium uk-child-width-1-1" uk-grid>

                                {% for item in items %}
                                <div>
                                    <a href="{{ catalogPath('blog/', item.name) }}">
                                        <article class="uk-card uk-card-default uk-card-small uk-article uk-overflow-hidden uk-box-shadow-hover-large uk-height-1-1 tm-ignore-container">
                                            {% if item.image is not empty %}
                                            <div class="tm-ratio tm-ratio-16-9">
                                                <figure class="tm-media-box uk-cover-container uk-margin-remove">
                                                    <img src="{{ imageUrl(item.image) }}" alt="{{ item.title }}" uk-cover="uk-cover"/>
                                                </figure>
                                            </div>
                                            {% endif %}
                                            <div class="uk-card-body">
                                                <div class="uk-article-body">
                                                    <div class="uk-article-meta uk-margin-xsmall-bottom">
                                                        <time>{{ item.datetime | date }}</time>
                                                    </div>
                                                    <div>
                                                        <h3 class="uk-margin-remove">{{ item.title }}</h3>
                                                    </div>
                                                    <div class="uk-margin-small-top">
                                                        <p>{{ item.summary }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </a>
                                </div>
                                {% endfor %}

                            </div>
                        </section>
                        <aside class="uk-width-1-4 uk-visible@m tm-aside-column">
                            <section class="uk-card uk-card-default uk-card-small" uk-sticky="offset: 90; bottom: true;">
                                <div class="uk-card-header">{{ 'Tags' | trans }}</div>
                                <div class="uk-card-body">
                                    {% for filterData in filters %}
                                        {% for tagValue in filterData.values %}
                                            <a href="/blog/?filter[tags]={{ tagValue }}">
                                                <span class="uk-label{% if queryOptions.filter.tags is defined and queryOptions.filter.tags == tagValue %} uk-label-warning{% endif %}">{{ tagValue }}</span>
                                            </a>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                                {% if queryOptions.filter | length > 0 %}
                                <div class="uk-card-footer">
                                    <a class="uk-button uk-button-default uk-width-1-1" href="/blog/">
                                        {{ 'Reset' | trans }}
                                    </a>
                                </div>
                                {% endif %}
                            </section>
                        </aside>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>

    {% include 'features.html.twig' %}

{% endblock %}
