<footer>
    <section class="uk-section uk-section-secondary uk-section-small uk-light">
        <div class="uk-container">
            <div class="uk-grid-medium uk-child-width-1-1 uk-child-width-1-4@m" uk-grid>
                <div>
                    <a class="uk-logo" href="{{ pathLocalized('homepage') }}">
                        <img src="{{ app_logo_image_url }}" height="36" alt="{{ app_name }}">
                    </a>
                    <p class="uk-text-small"></p>
                    <ul class="uk-iconnav">
                        <li><a href="#" title="Facebook" uk-icon="facebook"></a></li>
                        <li><a href="#" title="Twitter" uk-icon="twitter"></a></li>
                        <li><a href="#" title="YouTube" uk-icon="youtube"></a></li>
                        <li><a href="#" title="Instagram" uk-icon="instagram"></a></li>
                    </ul>
                </div>
                <div>
                    <nav class="uk-grid-small uk-child-width-1-2" uk-grid>
                        <div>
                            <ul class="uk-nav uk-nav-default">
                                <li><a href="/catalog/">{{ 'Catalog' | trans }}</a></li>
                                <li><a href="/brands/">{{ 'Brands' | trans }}</a></li>
                                <li><a href="/delivery">{{ 'Delivery' | trans }}</a></li>
                                <li><a href="/faq">{{ 'FAQ' | trans }}</a></li>
                                <li><a href="/payment">{{ 'Payment' | trans }}</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="uk-nav uk-nav-default">
                                <li><a href="/about">{{ 'About' | trans }}</a></li>
                                <li><a href="/contacts">{{ 'Contacts' | trans }}</a></li>
                                <li><a href="/blog/">{{ 'Blog' | trans }}</a></li>
                                <li><a href="/news/">{{ 'News' | trans }}</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div>
                    {{ includeContent('contacts-footer', 'contacts', 1, 'contacts-footer') }}
                </div>
                <div>
                    <form class="uk-form-stacked">
                        <label>
                            <div class="uk-form-label uk-text-muted">{{ 'Subscribe for updates' | trans }}</div>
                            <div class="uk-inline uk-width-1-1"><a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="mail"></a>
                                <input class="uk-input" type="email" placeholder="{{ 'Your email' | trans }}" required>
                            </div>
                        </label>
                    </form>
                    <div class="uk-margin uk-text-small uk-text-muted">{{ 'Be aware of new products and special offers.' | trans }}</div>
                </div>
            </div>
        </div>
    </section>
</footer>
