{% extends 'base.html.twig' %}

{% block body %}
    <section class="uk-section uk-section-small">
        <div class="uk-container">
            <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                <div class="uk-text-center">

                    {% include 'nav/breadcrumbs.html.twig' %}

                    <h1 class="uk-margin-small-top uk-margin-remove-bottom">{{ fieldByLocale(currentPage, 'title') }}</h1>
                </div>
                <div>
                    <div class="uk-grid-medium" uk-grid>

                        <div>
                            <div class="uk-grid-medium" uk-grid>
                                <section class="uk-width-1-1 uk-width-expand@m">

                                    {% if items | length > 0 %}
                                    <section class="uk-card uk-card-default uk-card-small uk-card-body tm-ignore-container">
                                        <ul class="uk-list uk-list-large uk-list-divider">

                                            {% for item in items %}
                                            <li>
                                                <article class="uk-article">
                                                    <div class="uk-article-body">
                                                        <div class="uk-article-meta uk-margin-xsmall-bottom">
                                                            <time>{{ item.datetime | date }}</time>
                                                        </div>
                                                        <div>
                                                            <h3>
                                                                <a class="uk-link-heading" href="{{ catalogPath('news/', item.name) }}">{{ item.title }}</a>
                                                            </h3>
                                                        </div>
                                                        <div class="uk-margin-small-top">
                                                            <p>{{ item.summary }}</p>
                                                        </div>
                                                    </div>
                                                </article>
                                            </li>
                                            {% endfor %}

                                        </ul>
                                    </section>
                                    {% endif %}

                                </section>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'features.html.twig' %}

{% endblock %}
