{% extends 'base.html.twig' %}

{% set reviewsCount = countContent('comment', {"threadId": currentCategory.contentTypeName ~ '_' ~ currentId, "status": "published"}) %}

{% block body %}
    <section class="uk-section uk-section-small">
        <div class="uk-container">
            <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                <div class="uk-text-center">
                    {% include 'nav/breadcrumbs.html.twig' %}
                    <h1 class="uk-margin-small-top uk-margin-remove-bottom">{{ currentPage.title }}</h1>
                </div>
                <div>
                    <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                        <div>
                            <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                                <div class="uk-grid-small uk-grid-collapse uk-grid-match" uk-grid>

                                    {{ renderOutputGallery(currentPage, fields, 'image') }}

                                    <div class="uk-width-1-1 uk-width-1-3@m tm-product-info">
                                        <div class="uk-card-body">
                                            <div class="uk-margin">
                                                {% if currentPage.brand is defined %}
                                                    <div class="uk-margin-small-bottom">
                                                        {{ contentList(
                                                            'content_brand_logo',
                                                            'brand',
                                                            {"isActive": true, "title": currentPage.brand},
                                                            {"_id": "desc"}, 1, 1, 'product_brand' ~ currentPage.id
                                                        ) }}
                                                    </div>
                                                {% endif %}
                                                <div class="uk-grid-small" uk-grid>
                                                    {% if reviewsCount > 0 %}
                                                        <div class="uk-flex uk-flex-middle">
                                                            {% if currentPage.rating is defined and currentPage.rating is not empty %}
                                                                <span class="star-rating-value{{ currentPage.rating | round }} uk-text-large" title="{{ 'Product rating: %rating% of 5' | trans({'%rating%': currentPage.rating}) }}"></span>
                                                            {% endif %}
                                                            <div class="uk-margin-xsmall-left">
                                                                <a class="uk-text-meta js-scroll-to-description" href="#description" title="Reviews" onclick="UIkit.switcher('.js-product-switcher').show(3);">
                                                                    ({{ reviewsCount }})
                                                                </a>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    <div>
                                                        {{ renderOutputTypeChunk(currentPage, fields, 'tag', 'page_') }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-margin">

                                                <form id="shk-form" action="{{ pathLocalized('shop_cart_action') }}" method="post">
                                                    <input type="hidden" name="item_id" value="{{ currentPage.id }}">
                                                    <input type="hidden" name="category_id" value="{{ currentPage.parentId }}">
                                                    <input type="hidden" name="type" value="shop">

                                                    {{ renderOutputTypeChunk(currentPage, fields, 'parameters', 'page_') }}

                                                    <div class="uk-padding-small uk-background-primary-lighten uk-border-rounded js-shopping-cart-product">
                                                        <div class="uk-grid-small uk-child-width-1-1" uk-grid>
                                                            <div>
                                                                {% if currentPage.old_price is defined and currentPage.old_price is not empty %}
                                                                    <del class="uk-text-meta">
                                                                        <span class="shk-price">{{ currentPage.old_price }}</span>
                                                                        <span class="shk-currency">{{ currency }}</span>
                                                                    </del>
                                                                {% endif %}
                                                                <div class="tm-product-price">
                                                                    <span class="shk-price">{{ currentPage.price | price }}</span>
                                                                    <span class="shk-currency">{{ currency }}</span>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="uk-grid-small" uk-grid>
                                                                    <div>
                                                                        <a onclick="increment(-1, 'product-1')" uk-icon="icon: minus; ratio: .75"></a>
                                                                        <input class="uk-input tm-quantity-input" id="product-1" type="text" maxlength="3" value="1" name="count">
                                                                        <a onclick="increment(+1, 'product-1')" uk-icon="icon: plus; ratio: .75"></a>
                                                                    </div>
                                                                    <div>
                                                                        <button type="submit" class="uk-button uk-button-primary tm-product-add-button tm-shine js-add-to-cart">
                                                                            {{ 'Add to cart' | trans }}
                                                                        </button>
                                                                    </div>
                                                                    <div class="uk-width-auto uk-width-expand@s uk-flex uk-flex-middle uk-text-meta">
                                                                        <a class="uk-margin-small-right js-add-to js-add-to-favorites tm-action-button-active js-added-to" uk-tooltip="Add to favorites">
                                                                            <span uk-icon="heart"></span>
                                                                        </a>
                                                                        <a class="js-add-to js-add-to-compare tm-action-button-active js-added-to" uk-tooltip="Add to compare">
                                                                            <span uk-icon="copy"></span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                            <div class="uk-margin">
                                                {% if currentPage.specification is defined and currentPage.specification is not empty %}
                                                    <ul class="uk-list uk-text-small uk-margin-remove">
                                                        {% for specificationItem in currentPage.specification | slice(0, 5) %}
                                                            <li>
                                                                <span class="uk-text-muted">{{ specificationItem.name }}:</span>
                                                                <span>{{ specificationItem.value }}</span>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                                <div class="uk-margin-small-top">
                                                    <a class="uk-link-heading js-scroll-to-description" href="#description" onclick="UIkit.switcher('.js-product-switcher').show(1);">
                                                        <span class="tm-pseudo">{{ 'Detailed specifications' | trans }}</span>
                                                        <span class="uk-margin-xsmall-left" uk-icon="icon: chevron-down; ratio: .75;"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="uk-width-1-1 tm-product-description" id="description">
                                        <header>
                                            <nav class="tm-product-nav" uk-sticky="offset: 80; bottom: #description; cls-active: tm-product-nav-fixed;">
                                                <ul class="uk-subnav uk-subnav-pill js-product-switcher" uk-switcher="connect: .js-tabs">
                                                    <li>
                                                        <a class="js-scroll-to-description" href="#description">{{ 'Overview' | trans }}</a>
                                                    </li>
                                                    <li>
                                                        <a class="js-scroll-to-description" href="#description">{{ 'Specifications' | trans }}</a>
                                                    </li>
                                                    <li>
                                                        <a class="js-scroll-to-description" href="#description">{{ 'Accessories' | trans }}</a>
                                                    </li>
                                                    <li>
                                                        <a class="js-scroll-to-description" href="#description">{{ 'Reviews' | trans }}</a>
                                                    </li>
                                                    {% if currentPage.faq is defined and currentPage.faq is not empty %}
                                                    <li>
                                                        <a class="js-scroll-to-description" href="#description">{{ 'Q&A' | trans }}</a>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </nav>
                                        </header>
                                        <div class="uk-card-body">
                                            <div class="uk-switcher js-product-switcher js-tabs">
                                                <section>
                                                    <article class="uk-article">
                                                        <div class="uk-article-body">
                                                            <h2>{{ 'Overview' | trans }}</h2>
                                                            {{ currentPage.description | raw }}
                                                        </div>
                                                    </article>
                                                </section>

                                                <section>
                                                    <h2>{{ 'Specifications' | trans }}</h2>
                                                    {% if currentPage.specification is defined and currentPage.specification is not empty %}
                                                    <table class="uk-table uk-table-divider uk-table-justify uk-table-responsive">
                                                        {% for specificationItem in currentPage.specification %}
                                                        <tr>
                                                            <th class="uk-width-medium">{{ specificationItem.name }}</th>
                                                            <td class="uk-table-expand">{{ specificationItem.value }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </table>
                                                    {% endif %}
                                                </section>

                                                <section>
                                                    <h2>{{ 'Accessories' | trans }}</h2>
                                                    {% if currentPage.accessories is defined and currentPage.accessories is not empty %}
                                                        <div class="tm-wrapper">
                                                            <div class="uk-grid-collapse uk-child-width-1-3@s uk-child-width-1-4@m tm-products-grid" uk-grid>
                                                                {{ contentList(
                                                                    'content_list',
                                                                    'products',
                                                                    {"isActive": true, "_id": {"$in": currentPage.accessories | map((value, key) => value + 0)}},
                                                                    {"_id": "desc"},
                                                                    30, 1, 'accessories' ~ currentPage.id, 'acc_page', 'acc_limit', {currency: currency}
                                                                ) }}
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <p class="uk-text-center uk-padding-small">{{ 'Empty.' | trans }}</p>
                                                    {% endif %}
                                                </section>

                                                <section data-comment-thread-id="{{ currentCategory.contentTypeName ~ '_' ~ currentId }}">
                                                    <div class="uk-grid-small uk-grid-divider" uk-grid>
                                                        <div class="uk-width-1-1 uk-width-1-5@s uk-text-center tm-reviews-column">

                                                            {% if currentPage.rating is defined and currentPage.rating is not empty %}
                                                                <div class="uk-text-meta uk-text-uppercase">{{ 'Average rating' | trans }}</div>
                                                                <div class="uk-heading-primary">{{ currentPage.rating | round(1, 'floor') }}</div>
                                                                <span class="star-rating-value{{ currentPage.rating | round }}" title="{{ 'Product rating: %rating% of 5' | trans({'%rating%': currentPage.rating}) }}"></span>
                                                            {% endif %}

                                                            <button class="uk-button uk-button-primary uk-margin-top uk-width-1-1" uk-toggle="target: #reviewModal">{{ 'Write a review' | trans }}</button>
                                                        </div>
                                                        <div class="uk-width-1-1 uk-width-expand@s">

                                                            <div id="shk-comments"></div>

                                                            <div id="reviewModal" uk-modal>
                                                                <div class="uk-modal-dialog uk-modal-body">
                                                                    <button class="uk-modal-close-outside" type="button" uk-close></button>
                                                                    <div id="shk-comments-form"></div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </section>

                                                {% if currentPage.faq is defined and currentPage.faq is not empty %}
                                                <section>
                                                    <ul class="uk-list-divider uk-list-large" uk-accordion="multiple: true">
                                                        {% for faqItem in currentPage.faq %}
                                                        <li><a class="uk-accordion-title" href="#">{{ faqItem.question }}</a>
                                                            <div class="uk-accordion-content">{{ faqItem.answer }}</div>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </section>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Related items-->
                        <section>
                            {% if currentPage.related is defined and currentPage.related is not empty %}
                                <div uk-slider="finite: true">
                                    <div class="uk-grid-small uk-flex-middle uk-margin-bottom" uk-grid>
                                        <h2 class="uk-width-expand uk-text-center uk-text-left@s">{{ 'Related products' | trans }}</h2>
                                        <div class="uk-visible@s">
                                            <a class="tm-slidenav" href="#" uk-slider-item="previous" uk-slidenav-previous></a>
                                            <a class="tm-slidenav" href="#" uk-slider-item="next" uk-slidenav-next></a>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                                            <div class="uk-position-relative">
                                                <div class="uk-slider-container">
                                                    <div class="uk-slider-items uk-grid-collapse uk-child-width-1-3 uk-child-width-1-4@m tm-products-grid">

                                                        {{ contentList(
                                                            'content_list',
                                                            'products',
                                                            {"isActive": true, "_id": {"$in": currentPage.related | map((value, key) => value + 0)}},
                                                            {"_id": "desc"},
                                                            30, 1, 'related' ~ currentPage.id, '', '', {currency: currency}
                                                        ) }}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-top uk-hidden@s"></ul>
                                    </div>
                                </div>
                            {% endif %}
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {{ contentList(
        'banner-features',
        'banner',
        {"isActive": true, "parentId": 24},
        {"_id": "asc"},
        10, 1, 'banner-featurese'
    ) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/comments/js/comments.js') }}" defer></script>
{% endblock %}
