{% extends 'base.html.twig' %}

{% block body %}
    <section class="uk-section uk-section-small">
        <div class="uk-container">
            <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                <section class="uk-text-center">
                    <ul class="uk-breadcrumb uk-flex-center uk-margin-remove">
                        <li>
                            <a href="{{ app.request.get('locale_url_prefix') }}">
                                {{ 'Home page' | trans }}
                            </a>
                        </li>
                        <li><span>{{ currentPage.title }}</span></li>
                    </ul>
                </section>
                <section>
                    <div>
                        <article class="uk-card uk-card-default uk-card-body uk-article tm-ignore-container">
                            <header class="uk-text-center">
                                <h1 class="uk-article-title">{{ currentPage.title }}</h1>
                            </header>
                            <div class="uk-article-body">

                                {{ currentPage.description | raw }}

                                {% if currentPage.form_name is defined and currentPage.form_name is not empty -%}
                                    <div class="uk-flex-center" uk-grid>
                                        <div class="uk-width-1-2@l">
                                            {{ renderForm(currentPage.form_name, 'form/uikit-form.html.twig') }}
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}
