<div class="uk-card uk-card-default uk-card-small tm-ignore-container">

    <form action="{{ path('shop_cart_action') }}" method="post">
        <input type="hidden" name="type" value="compare">
        <input type="hidden" name="templateName" value="compare_edit">

        <div>
            <div class="uk-card uk-card-default uk-overflow-auto tm-ignore-container">
                <table class="uk-table uk-table-divider tm-compare-table">
                    <thead>
                    <tr class="uk-child-width-1-4">
                        <td class="uk-table-middle uk-text-center tm-compare-column"></td>

                        {% for item in items %}
                            <td class="tm-compare-table-column">
                                <div class="uk-height-1-1">
                                    <div class="uk-grid-small uk-child-width-1-1 uk-height-1-1" uk-grid>
                                        <div class="uk-text-center">
                                            <button class="uk-text-small uk-text-danger uk-icon" type="submit" name="remove_by_index" value="{{ loop.index0 }}">
                                                <span uk-icon="icon: close; ratio: .75;"></span>
                                                <span class="uk-margin-xsmall-left tm-pseudo">{{ 'Delete' | trans }}</span>
                                            </button>
                                        </div>
                                        <div>
                                            <div class="uk-grid-small uk-height-1-1" uk-grid="uk-grid">
                                                <div class="uk-width-1-3">
                                                    <div class="tm-ratio tm-ratio-4-3">
                                                        <a class="tm-media-box" href="{{ catalogPath('', item.name, item) }}">
                                                            <figure class="tm-media-box-wrap">
                                                                <img src="{{ imageUrl(item.image, '/img/nofoto.png') }}" alt="">
                                                            </figure>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="uk-width-expand">
                                                    <div class="tm-product-card-body uk-padding-remove uk-height-1-1">
                                                        <div class="tm-product-card-info">
                                                            <a class="tm-product-card-title" href="{{ catalogPath('', item.name, item) }}">
                                                                {{ item.title }}
                                                            </a>
                                                        </div>
                                                        <div class="tm-product-card-shop">
                                                            <div class="tm-product-card-prices">
                                                                <div>
                                                                    <span class="uk-text-meta shk-price">{{ item.price | price }}</span>
                                                                    <span class="tm-product-card-price shk-currency">{{ currency }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        {% endfor %}

                    </tr>
                    </thead>
                    <tbody>
                    {% for row in items[0].specification %}
                        <tr>
                            <th>{{ row.name }}</th>
                            <td>
                                {{ row.value }}
                            </td>
                            {% for item in items | slice(1, 2) %}
                                {% if item.specification is not empty %}
                                    {% set column = item.specification|column('name') %}
                                    {% set valueIndex = arraySearch(row.name, column) %}
                                    <td>
                                        {% if valueIndex > -1 %}
                                            {{ item.specification[valueIndex].value }}
                                        {% else %}
                                            &mdash;
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td>&mdash;</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </form>

</div>
