<aside class="uk-width-1-4 tm-aside-column tm-filters shk-catalog-filters" id="filters" uk-offcanvas="overlay: true; container: false;">

    <form class="uk-offcanvas-bar uk-padding-remove" action="{{ catalogPath(currentUri) }}" method="get">

        <div class="uk-card uk-card-default uk-card-small uk-flex uk-flex-column uk-height-1-1">
            <header class="uk-card-header uk-flex uk-flex-middle">
                <div class="uk-grid-small uk-flex-1" uk-grid>
                    <div class="uk-width-expand">
                        <h3>{{ 'Filters' | trans }}</h3>
                    </div>
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                </div>
            </header>
            <div class="uk-margin-remove uk-flex-1 uk-overflow-auto" uk-accordion="/assets/uikit-ecommerce/multiple: true; targets: &gt; .js-accordion-section" style="flex-basis: auto">

                {{ outputFilters( filters, '', 'filters' ~ currentPage.id ) }}

                <div class="filters-button-apply shk-onfilter-change" style="display: none;">
                    <button class="uk-button uk-button-secondary uk-width-1-1" type="submit">
                        <span class="uk-margin-xsmall-right" uk-icon="icon: search; ratio: .75;"></span>
                        {{ 'Apply' | trans }}
                    </button>
                </div>

                <div class="uk-card-body"{% if queryOptions.filter | length == 0 %} style="display: none;"{% endif %}>
                    <a class="uk-button uk-button-default uk-width-1-1" href="{{ catalogPath(currentUri) }}?limit={{ pagesOptions.limit }}&page=1&order_by={{ queryOptions.order_by }}">
                        <span class="uk-margin-xsmall-right" uk-icon="icon: close; ratio: .75;"></span>
                        {{ 'Reset all filters' | trans }}
                    </a>
                </div>
            </div>
        </div>

    </form>
</aside>