{% if data is not empty %}
    <button class="uk-button uk-button-default" type="button">
        <img src="/img/flag_{{ app.request.locale }}.png">
    </button>
    <div uk-dropdown="mode: click">
        <ul class="uk-nav uk-dropdown-nav">
            {% for setting in data %}
                {% if loop.index0 == 0 %}
                    <li{% if app.request.locale == setting.options.value.value %} class="uk-active"{% endif %}>
                        <a href="/{{ app.request.get('current_uri') }}" rel="nofollow">
                            <img src="/img/flag_{{ setting.options.value.value }}.png" alt="" class="uk-margin-small-right">
                            {{ setting.name }}
                        </a>
                    </li>
                {% else %}
                    <li{% if app.request.locale == setting.options.value.value %} class="uk-active"{% endif %}>
                        <a href="/{{ setting.options.value.value }}/{{ app.request.get('current_uri') }}" rel="nofollow">
                            <img src="/img/flag_{{ setting.options.value.value }}.png" alt="" class="uk-margin-small-right">
                            {{ setting.name }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
