{% set sortingOptions = [{'name': 'id_desc', 'title': 'catalog.sort_by_novelty'}, {'name': 'price_asc', 'title': 'catalog.sort_by_price_increase'}, {'name': 'price_desc', 'title': 'catalog.sort_by_price_reduction'}, {'name': 'title_asc', 'title': 'catalog.sort_by_name'}] %}
<div class="uk-card-header">
    <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-1-1 uk-width-expand@s uk-flex uk-flex-center uk-flex-left@s uk-text-small">
            <span class="uk-margin-small-right uk-text-muted">{{ 'Sort by' | trans }}:</span>
            <ul class="uk-subnav uk-margin-remove">
                <li class="uk-active uk-padding-remove">
                    <a href="#">
                        {% for sortingOption in sortingOptions %}
                            {% if queryOptions.order_by == sortingOption.name %}{{ sortingOption.title | trans }}{% endif %}
                        {% endfor %}
                        <span class="uk-margin-xsmall-left" uk-icon="icon: chevron-down; ratio: .5;"></span>
                    </a>
                    <div class="uk-width-medium" uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav" id="shkNavSortBy" data-sortvar="{{ pagesOptions.orderByVar }}">
                            {% for sortingOption in sortingOptions %}
                                <li{% if queryOptions.order_by == sortingOption.name %} class="uk-active"{% endif %}>
                                    <a data-sort="{{ sortingOption.name }}" href="#">
                                        {{ sortingOption.title | trans }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="uk-width-1-1 uk-width-auto@s uk-flex uk-flex-center uk-flex-middle">
            <button class="uk-button uk-button-default uk-button-small uk-hidden@m" uk-toggle="target: #filters">
                <span class="uk-margin-xsmall-right" uk-icon="icon: settings; ratio: .75;"></span>
                {{ 'Filters' | trans }}
            </button>
            <div class="tm-change-view uk-margin-small-left">
                <ul class="uk-subnav uk-iconnav" id="shkNavListType" uk-switcher>
                    <li{% if listTemplate == 'grid' %} class="uk-active"{% endif %}>
                        <a data-view="grid" uk-icon="grid" uk-tooltip="{{ 'Grid' | trans }}"></a>
                    </li>
                    <li{% if listTemplate == 'list' %} class="uk-active"{% endif %}>
                        <a data-view="list" uk-icon="list" uk-tooltip="{{ 'List' | trans }}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
