<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <base href="{{ app.request.baseUrl }}">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

    {% block stylesheets -%}
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500">
        <link rel="stylesheet" href="/assets/uikit-ecommerce/styles/style.css">
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
    {% endblock -%}

</head>
<body>

<main>
    {% block body %}{% endblock %}
</main>

{% include 'footer.html.twig' %}

{% block javascripts %}
    <script src="/assets/uikit-ecommerce/scripts/uikit.js"></script>
    <script src="/assets/uikit-ecommerce/scripts/uikit-icons.js"></script>
    <script src="/assets/uikit-ecommerce/scripts/script.js"></script>
    <script src="{{ asset('app_build/app.js') }}"></script>
{% endblock %}

</body>
</html>