<!-- breadcrumbs -->
{% if breadcrumbs | length > 0 %}
    <ul class="uk-breadcrumb uk-flex-center uk-margin-remove">
        <li>
            <a href="{{ app.request.get('locale_url_prefix') }}">
                {{ 'Home page' | trans }}
            </a>
        </li>
        {% for crumb in breadcrumbs %}
            <li>
                <a href="{{ catalogPath(crumb.uri) }}">{{ crumb.title }}</a>
            </li>
        {% endfor %}
        <li><span>{{ currentCategory.title }}</span></li>
    </ul>
{% endif %}
<!-- /breadcrumbs -->
