{% if categoriesMenu | length > 0 %}
<section class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
            <div>
                <div class="uk-grid-medium" uk-grid>
                    <aside class="uk-width-1-4 uk-visible@m tm-aside-column">
                        <nav class="uk-card uk-card-default uk-card-body uk-card-small" uk-sticky="bottom: true; offset: 90">
                            <ul class="uk-nav uk-nav-default" uk-scrollspy-nav="closest: li; scroll: true; offset: 90">
                                {% for category in categoriesMenu %}
                                    <li>
                                        <a href="#section-{{ category.name }}">{{ category.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </aside>
                    <div class="uk-width-1-1 uk-width-expand@m">
                        <div class="uk-grid-medium uk-child-width-1-1" uk-grid>

                            {% for category in categoriesMenu %}

                                <section id="section-{{ category.name }}">
                                    <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                                        <header class="uk-card-header">
                                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                                <a href="category.html">
                                                    <img src="{{ imageUrl(category.image, '/assets/uikit-ecommerce/images/catalog/shopping.svg') }}" alt="{{ category.title }}" width="50" height="50">
                                                </a>
                                                <div class="uk-width-expand">
                                                    <h2 class="uk-h4 uk-margin-remove">
                                                        <a class="uk-link-heading" href="{{ catalogPath(category.uri) }}">
                                                            {{ category.title }}
                                                        </a>
                                                    </h2>
                                                    <div class="uk-text-meta">367 items</div>
                                                </div>
                                            </div>
                                        </header>
                                        {% if category.children | length > 0 or category.description is not empty %}
                                        <div class="uk-card-body">

                                            {% if category.description is not empty %}
                                                <p>
                                                    {{ category.description }}
                                                </p>
                                            {% endif %}

                                            {% if category.children | length > 0 %}
                                                <ul class="uk-list">
                                                    {% for childCategory in category.children %}
                                                        <li>
                                                            <a href="{{ catalogPath(childCategory.uri) }}">{{ childCategory.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}

                                        </div>
                                        {% endif %}
                                    </div>
                                </section>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}