{% set skipped = false %}
<div>
    {% if pagesOptions.total > 1 %}
        {% if pagesOptions.pageSizeArr | length > 1 %}
            {#<div class="float-end">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-end">
                        {% for pageSize in pagesOptions.pageSizeArr %}
                            <li class="page-item{% if pageSize == pagesOptions.limit %} active{% endif %}">
                                <a class="page-link" href="{{ pageUrl(pagesOptions, pagesOptions.current, pageSize) }}{{ queryOptions.filterStr }}">{{ pageSize }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>#}
        {% endif %}
        <nav class="d-inline-block">
            <ul class="uk-pagination uk-flex-center">
                {% if pagesOptions.current != pagesOptions.prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ pageUrl(pagesOptions, pagesOptions.prev) }}{{ queryOptions.filterStr }}" aria-label="Previous" title="{{ 'Previous' | trans }}">
                            <span uk-pagination-previous></span>
                        </a>
                    </li>
                {% endif %}
                {% for i in 1..pagesOptions.total %}
                    {% if (i > 2 and i < pagesOptions.total - 1) and (i < pagesOptions.current - 2 or i > pagesOptions.current + 2) %}
                        {% if not skipped %}
                            <li class="uk-disabled"><span>…</span></li>
                        {% endif %}
                        {% set skipped = true %}
                    {% else %}
                        {% set skipped = false %}
                        <li class="page-item{% if i == pagesOptions.current %} uk-active{% endif %}">
                            <a class="page-link" href="{{ pageUrl(pagesOptions, i) }}{{ queryOptions.filterStr }}">
                                {{ i }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if pagesOptions.current != pagesOptions.next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ pageUrl(pagesOptions, pagesOptions.next) }}{{ queryOptions.filterStr }}" aria-label="Next" title="{{ 'Next' | trans }}">
                            <span uk-pagination-next></span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
